#increase{
    background-color: green ;
    color: white !important;
    margin-left: 70px;
}
#decrease{
    background-color: red ;
    color: white !important;
}
button {
    width: 40px;
    height: 30px;
    border: none;
    border-radius: 8px;
}
p{
    font-size: 15px;
}
#increase:hover{
    transform: scale(1.1);
    background-color: rgb(2, 118, 2) ;
}
#decrease:hover{
    transform: scale(1.1);
    background-color: rgb(202, 5, 5) ;
}