body{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 50px;
    background-color: rgb(238, 237, 237) !important;;
}
img{
    border-radius: 8px;
    
}
.test{
    display: flex;
    justify-content: center;
    background-color: gray !important;
    padding: 0px !important;  
    gap: 0 !important;
}
.heightChange{
    height: 100vh;
    
}

