button{
    color: white;
    background-color: rgb(0, 128, 255) ;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 35px  ;
}
button:hover{
    transform: scale(1.1);
    background-color: rgb(0, 89, 255) ;
}
section{
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 500px;
   
    justify-content: center;
}
#bar{
    background: rgb(223, 222, 222);
    width: 80%;
    height: 25px;
    border-radius: 5px;
}
#progress{
    height: 25px;
    background-color: rgb(49, 170, 1);
    width: 0%;
    border-radius: 5px;
}
h2{
    margin-bottom: 5px;
}
