body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.selection{
    display: flex;
    gap: 15px;
}
button{
    color: white;
    border: none;
    border-radius: 6px;
    width: 80px;
    height: 40px;
}
button:hover{
    transform: scale(1.1);
}
#red{
    background-color: rgb(200, 3, 3);
}
#yellow{
    background-color: rgb(220, 213, 15);
}
#blue{
    background-color: rgb(4, 73, 201);
}
#purple{
    background-color: rgb(95, 6, 147);
}