form{
    display: flex;
    flex-direction: column;
    border: 1px solid none;
    width: 450px;
    gap: 13px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 8px;
}
h2{
    align-self: center;
}
input{
    align-self: center;
    width: 350px;
    height: 28px;
    border-radius: 5px;
    border: 1px solid rgb(165, 164, 164) ;
}
label{
    margin-left: 50px;
}
button{
    font-size: 16px;
    align-self: center;
    width: 360px;
    margin-top: 10px;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(0, 123, 255);
    cursor: pointer;
}
button:hover{
    background-color: rgb(0, 97, 255);
}
a{
    color: rgb(0, 123, 255);
    text-decoration: none;
}
.options{
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
span{
    color: gray;
}